.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .logo {
        color: #ff385c;
        font-size: 45px;
    }

    .main-nav {

        display: flex;
        align-items: center;

        .main-nav-host {
            color: #222;
            font-size: 20px;
        }

        .menu-link {
            color: #222;
            font-size: 20px;
        }

        .bell-img {
            font-size: 20px;
        }

        .hamburger {
            font-size: 20px;
        }

        .menu-btn {
            display: flex;
            align-items: center;
        }

        .user-img {
            font-size: 25px;
        }
    }
}
