.carousel-item {
  height: 262.5px;

  .carousel-item-img {
    height: 262.5px;
    width: 100%;
    border-radius: 12px;
  }
}

// .slide-in-enter-active,
// .slide-in-leave-active {
//   transition: all 1s ease-in-out;
// }

// .slide-in-enter-from {
//   transform: translateX(-100%);

// }
// .slide-in-leave-to {
//   transform: translateX(100%);
// }
