.filter-container {
  max-width: 850px;
  height: 66px;
  border: 1px solid #dddddd;
  border-radius: 32px;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  top: 4.687rem;
  color: #222222;

  .stay-filter-border {
    border-right: 1px solid #dddddd;
    height: 32px;
  }

  button {
    cursor: pointer;
  }

  label {
    font-size: 0.75rem;
    font-weight: 800;
  }

  .location-input-container {
    width: 270px;
    height: 66px;
    flex: 1.5 0 0%;

    .location-input-div {
      height: 100%;
      padding: 14px 32px;
      display: flex;

      .location-input-label {
        width: 204px;
      }
    }
  }

  .trip-dates-container {
    flex: 2 0 0%;
    height: 66px;
    display: flex;
    width: 346px;
    align-items: center;

    .check-in-input-container {
      width: 180px;
      height: 100%;
      .check-in-input-div {
        padding: 14px 24px;
        height: 100%;
        width: 178px;
        display: flex;
        .date-input-label {
          width: 130px;
        }
      }
    }
    .check-out-input-container {
      width: 180px;
      height: 100%;
      .check-out-input-div {
        padding: 14px 24px;
        height: 100%;
        width: 178px;
        display: flex;
        .date-input-label {
          width: 130px;
        }
      }
    }
  }

  .guest-search-container {
    height: 66px;
    display: flex;
    align-items: center;
    width: 223px;
    flex: 0.95 0 auto;

    .guest-container {
      padding: 14px 24px;
      display: flex;
      flex-direction: column;
      width: 172px;
      height: 100%;

      .guest-container-label {
        width: 122px;
      }
    }
  }

  .guests-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: 20px;
    top: 75px;
    right: calc(40% - 280px);
    width: 21.87rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    z-index: 2;
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
    gap: 20px;

    .close-modal-btn {
      justify-self: flex-end;
      cursor: pointer;
      margin: 0;
      padding: 0;
      align-self: flex-end;
    }

    .modal-txt {
      display: flex;
      flex-direction: column;
    }
    .modal-btn {
      display: flex;
      align-items: center;
    }
    span {
      margin: 0 6px;
    }
    .btn {
      border: 1px solid #b0b0b0;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      color: #717171;
      text-align: center;
    }
  }
  .modal-date-picker {
    top: 75px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: calc(50% - 271px);
    width: min-content;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    z-index: 10;
    padding: 1.25rem;
    gap: 20px;

    .close-modal-btn {
      justify-self: flex-end;
      cursor: pointer;
      margin: 0;
      padding: 0;
      align-self: flex-end;
    }
  }

  .search-btn {
    border-radius: 50%;
    border: none;
    height: 3rem;
    width: 3rem;
    margin-left: 4px;
    background-color: $main-col;
    img {
      width: 16px;
    }
  }
  .search-btn:hover {
    background-image: radial-gradient(
      rgb(255, 56, 92) 0%,
      rgb(230, 30, 77) 27.5%,
      rgb(227, 28, 95) 40%,
      rgb(215, 4, 102) 57.5%,
      rgb(189, 30, 89) 75%,
      rgb(189, 30, 89) 100%
    );
  }
  input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    color: #717171;
    padding-left: 0px;
    padding-top: 3px;
    width: 100%;
  }
  .span-input {
    line-height: 20px;
    font-size: 14px;
    font-family: $apple-font;
    color: #717171;
  }
}
