.filter-container {
    // margin-top: 100px;
    max-width: 53.125rem;
    // width: 53.125rem;
    height: 4.43rem;
    border: 1px solid #dddddd;
    border-radius: 2.5em;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    top: 4.687rem;
    transform-origin: top;
    // position: absolute;
    transition: all 0.2s;

    label {
        font-size: 0.75rem;
        font-weight: 800;
    }

    .input-container {
        height: 4rem;
        border-radius: 2.5rem;
        padding: 0.78rem 0.78rem 0.78rem 1.56rem;
        display: flex;
        flex-direction: column;
    }
    .input-container:hover {
        background-color: #ebebeb;
    }
    .location {
        text-indent: 15px;
        > :first-child input {
            text-indent: 15px;
        }
    }

    .trip-dates {
        display: flex;
    }

    .guests-modal {
        display: flex;
        flex-direction: column;
        // position: absolute;
        // line-height: 20px;
        top: 123.25px;
        right: 300px;
        width: 21.87rem;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        z-index: 2;
        padding: 1.25rem;

        .btn {
            border: 1px solid #b0b0b0;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            color: #717171;
            text-align: center;
        }
    }

    .search-btn {
        border-radius: 50%;
        border: none;
        height: 3rem;
    }
    .search-btn:hover {
        background-image: radial-gradient(
            rgb(255, 56, 92) 0%,
            rgb(230, 30, 77) 27.5%,
            rgb(227, 28, 95) 40%,
            rgb(215, 4, 102) 57.5%,
            rgb(189, 30, 89) 75%,
            rgb(189, 30, 89) 100%
        );
        // transition: background-image 2s ease 3s;
    }
    input {
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
        line-height: 20px;
    }
}

