.stay-list-title {
  color: #222;
}

// .stay-list {
//   list-style: none;
//   display: grid;
//   grid-template-columns: repeat(4, minmax(0px, 1fr));
//   -moz-column-gap: 24px;
//   column-gap: 24px;
//   row-gap: 40px;
//   padding-left: 0px;
// }
.stay-list {
  min-height: 64vh;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 40px;
  padding-left: 0px;

  .explore-btns {
    margin-left: -2px;
  }

  .explore-btn {
    height: 38px;
    cursor: pointer !important;
    border: 1px solid #ddd !important;
    background-color: #fff !important;
    outline: none !important;
    margin: 0 !important;
    border-radius: 30px !important;
    color: #222 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif !important;
    padding: 10px 16px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    margin-right: 8px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    transition: border-color 0.15s;
  }

  .explore-btn:hover {
    color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0) !important;
  }

  .clicked {
    background-color: rgb(247, 247, 247) !important;
    border: 2px solid rgb(0, 0, 0) !important;
  }

  @media (max-width: 1568px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  @media (max-width: 1064px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
