.dashboard-con {
  height: 200vh;
  margin-top: 31px;

  .dashboard {
    min-height: 200vh;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dashboard-top-section {
    display: flex;
    justify-content: space-between;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #dddddd;

    .dashboard-data-con > *:not(:last-child) {
      border-right: 1px solid #dddddd;
    }

    .dashboard-data-con {
      display: flex;
      width: 100%;
      justify-content: space-around;
      height: 185px;

      .dashboard-data {
        width: 25%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .data-title {
          margin-top: 6px;
        }
      }

      .data-rate {
        .dashboard-data-rate-content {
          height: 80%;
          display: flex;

          .dashboard-data-rate-average {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            .dashboard-data-rate-average-content {
              display: flex;
              justify-content: center;

              .dashboard-data-rate-img {
                width: 1rem;
                margin-right: 2px;
              }
              .dashboard-data-rate-average-number {
                margin-left: 2px;
              }
            }
          }

          .dashboard-data-rate-count {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }

      .data-revenues {
        .dashboard-data-revenues-period-con {
          display: flex;
          justify-content: space-evenly;
          height: 80%;

          .dashboard-data-revenues-period {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }

      .data-orders {
        .dashboard-data-orders-status-con {
          display: flex;
          height: 80%;
          flex-direction: column;

          .dashboard-data-orders-status-con-top {
            display: flex;
            justify-content: space-evenly;
            height: 50%;
          }
          .dashboard-data-orders-status-con-bottom {
            display: flex;
            justify-content: space-evenly;
            height: 50%;
          }
          .dashboard-data-orders-status {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }

      .data-guests {
        .dashboard-data-guests-status-con {
          height: 80%;
          justify-content: space-evenly;
          display: flex;
          margin-top: 8px;

          .dashboard-data-guests-status {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }
    }
  }

  .dashboard-bottom-section {
    margin-top: 30px;
    flex-grow: 1;
    .dashboard-summary {
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 23px;

      .backoffice-img {
        width: 1rem;
        margin-right: 5px;
        padding-bottom: 4px;
      }

      .dashboard-summary-stays {
        height: 50%;
        display: flex;
        width: 75px;
        height: 33px;
        padding: 8px;
        cursor: pointer;

        .dashboard-summary-stays-title {
          padding-top: 2px;
        }
      }
      align-items: center;
      .dashboard-summary-orders {
        height: 50%;
        display: flex;
        width: 80px;
        height: 33px;
        padding: 8px;
        cursor: pointer;
        align-items: center;
      }

      .dashboard-summary-stays:hover {
        background-color: #eeeeee;
      }
      .dashboard-summary-orders:hover {
        background-color: #eeeeee;
      }
    }

    .dashboard-details {
      table {
        margin: auto;
        width: 100%;
        text-align: center;
      }

      .stays-table-pic {
        width: 10%;
      }
      .stays-table-name {
        width: 35%;
      }
      .stays-table-price {
        width: 10%;
      }
      .stays-table-address {
        width: 35%;
      }
      .stays-table-actions {
        width: 10%;
      }

      .stays-table-content-pic {
        width: 10%;
        .backoffice-stay-img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
      }
      .stays-table-content-name {
        width: 35%;
      }
      .stays-table-content-price {
        width: 10%;
      }
      .stays-table-content-address {
        width: 35%;
      }
      .stays-table-content-actions {
        width: 10%;
        .stays-table-content-actions-inner {
          padding-left: 13px;
          padding-right: 13px;
          cursor: pointer;
          text-decoration: underline;

          .img-edit {
            width: 1rem;
          }
        }
      }

      .orders-table-pic {
        width: 5%;
      }
      .orders-table-guest {
        width: 14%;
      }
      .orders-table-stay {
        width: 14%;
      }
      .orders-table-check {
        width: 25%;
      }
      .orders-table-status {
        width: 14%;
      }
      .orders-table-revenues {
        width: 14%;
      }
      .orders-table-actions {
        width: 14%;
      }

      .orders-table-content-pic {
        width: 5%;
      }
      .orders-table-content-guest {
        width: 14%;
      }
      .orders-table-content-stay {
        width: 14%;
      }
      .orders-table-content-check {
        width: 25%;
      }
      .orders-table-content-status {
        width: 14%;
      }
      .orders-table-content-revenues {
        width: 14%;
      }
      .orders-table-content-actions {
        width: 14%;
        .orders-table-content-actions-inner {
          width: 80px;
          margin: 0 auto;
          cursor: pointer;
        }
      }

      .orders-table-content {
        height: 60px;
      }
      .stays-table-content {
        height: 40px;
      }
    }
  }
}
